.authclass {

    .card {

        background-color: transparent;

        .form {
            background-color: $dark-blue;
            background-image: var(--bs-gradient)!important;
        }
    }

}
