.table {

    background-color: $darken-blue;

    > :not(caption) {

        > * {
            > * {
                background-color: $darken-blue;
            }
        }

    }

    thead {
        tr{
            th{
                text-align: center;
            }
        }
    }

}
